@page "/EditDocument"
@page "/EditDocument/{ID:guid}"

@using Blazored.TextEditor
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Admin")]

@inject IJSRuntime JS
@inject UserService userService

<div class="content-wrapper">
    <div class="content-header row">
        <h3>Редактирование документа</h3>
    </div>

    @if (_model != null)
    {

        <AntDesign.Form Model="@_model"
                    Context="model"
                    Layout="@FormLayout.Vertical"
                    OnFinish="OnFinish"
                    Class="form-compact"
                    @ref="@form">
            <ValidationSummary />


            <FormItem>
                <AntDesign.Input @bind-Value="@model.Title" Size="@InputSize.Large" />
            </FormItem>

            <FormItem>
                @*<AntDesign.TextArea @bind-Value="@model.Description" />*@

                <div>Контент</div>
                <BlazoredTextEditor @ref="@QuillHtml" Placeholder="Текст">
                    <ToolbarContent>
                        <select class="ql-header">
                            <option selected=""></option>
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                            <option value="4"></option>
                            <option value="5"></option>
                        </select>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-color"></select>
                            <select class="ql-background"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                        </span>
                    </ToolbarContent>
                    <EditorContent>
                        @((MarkupString)edit_html)
                    </EditorContent>
                </BlazoredTextEditor>
            </FormItem>

            <h5>Файлы: </h5>

            <Upload Action="@UploadAction"
                Name="file"
                Drag
                Headers="@headers"
                Multiple="@false"
                @bind-FileList="fileList"
                OnChange="HandleChange"
                ShowButton="fileList?.Count < 1"
                ListType="picture-card"
                Accept="@Accept"
                OnSingleCompleted="OnSingleCompleted">
                @*<div class="w-100">
                    <p class="ant-upload-drag-icon">
                    <Icon Type="inbox" />
                    </p>
                    <p class="ant-upload-text">
                    Щелкните или перетащите файл в эту область, чтобы загрузить</p>
                    <p class="ant-upload-hint">
                    Поддержка одиночной или массовой загрузки.
                    </p>
                    </div>*@
                <div>
                    <Icon Type="plus"></Icon>
                    <div className="ant-upload-text">Загрузка файла</div>
                </div>
            </Upload>

            @*<FormItem>
                <Microsoft.AspNetCore.Components.Forms.InputFile OnChange="OnInputFileChange" />
                </FormItem>*@


            <FormItem>
                <Popconfirm Title="Подтверждаете удаление?" OkText="Да" CancelText="Нет"  OnConfirm="OnDeleteClick">
                    <Button Danger>
                        Удалить
                    </Button>
                </Popconfirm>
                
                <Button Type="@ButtonType.Primary" HtmlType="submit">
                    Сохранить
                </Button>
            </FormItem>

        </AntDesign.Form>

    }
    else
    {
        <Loader1 />
    }

</div>

<style>
    /* you can make up upload button and sample style by using stylesheets */
    .ant-upload-select-picture-card i {
        color: #999;
        font-size: 32px;
    }

    .ant-upload-select-picture-card .ant-upload-text {
        margin-top: 8px;
        color: #666;
    }

    .ql-editor {
        min-height: 300px;
    }
</style>