@page "/ContactsManagement"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<h1>Редактирование контактов</h1>
<hr>

<StandartManagementTable TModel=ContactPerson TService=ContactPersonService @ref=f>
    <TableContent>
        <Column @bind-Field=@context.Name Sortable>
            <a @onclick=@(e=>f.EditClick(context)) class="text-primary">
                @context.Name
            </a>
            <div>@context.Function</div>
        </Column>
        <Column @bind-Field="@context.Phone" Sortable />
        <Column @bind-Field="@context.Email" Sortable />
        <Column @bind-Field="@context.Function" Sortable>
            <div>@context.Description</div>
        </Column>
        @*<Column @bind-Field=@context.Created Format="yyyy-MM-dd" Sortable Title="Создан" />*@
    </TableContent>

    <FormContent>
        <FormItem>
            <AntDesign.Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem>
            <AntDesign.Input @bind-Value="@context.Phone" />
        </FormItem>
        <FormItem>
            <AntDesign.Input @bind-Value="@context.Email" />
        </FormItem>
        <FormItem>
            <AntDesign.Input @bind-Value="@context.Function" />
        </FormItem>
        <FormItem>
            <AntDesign.TextArea Rows=5 @bind-Value="@context.Description" Placeholder="например - по какому вопросу обращаться" />
        </FormItem>
    </FormContent>
</StandartManagementTable>


@code {
    StandartManagementTable<ContactPerson, ContactPersonService> f;

    Guid selGeoTypeId;

}