@page "/settings/ActionHistory"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]


<div class="content-wrapper">

    <h1>Активность</h1>
    <AppFront.Pages.Settings.SettingsTabs />
    <hr>

    <div class="text-right mb-3">
        @*<Button Type="@ButtonType.Primary" OnClick="AddClick">Создать контакт</Button>*@
    </div>


    <div class=spacer-2></div>

    <Table @ref="table"
           TItem="ActionHistory"
           DataSource="@Items"
           Total="_total"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           OnChange="OnChange">
        @{
            var item = context;
        }

        <Column @bind-Field="@context.Id" Sortable />
        <Column @bind-Field="@context.ActionLevel" Sortable />
        <Column @bind-Field="@context.Title" Sortable />
        <Column @bind-Field="@context.ActionModel" Sortable />
        <Column Field="@context.Message.Left(100)" Sortable Title="Msg" />

        <Column @bind-Field="@context.Created" Sortable Title="Создан" />

        <ActionColumn Title="Действия">
            <Space>
                <Button Size="small" OnClick=@(()=>EditClick(item))>Читать</Button>
            </Space>
        </ActionColumn>
    </Table>

    <br />
    <PagesTotal Page=_pageIndex PageSize=_pageSize TotalPages=_total />


</div>

<Modal Title="ActionHistory"
       Visible="_visible"
       OnCancel=HandleCancel
       Footer=null>

    <div class="p-4">

        <AntDesign.Form Model="@_model"
                        Context="model"
                        Layout="@FormLayout.Vertical"
                        OnFinish="HandleOk"
                        Class="form-compact"
                        @ref="@form">


            <FormItem>
                <AntDesign.Input ReadOnly @bind-Value="@model.Id" />
            </FormItem>
            <FormItem>
                <AntDesign.Input ReadOnly @bind-Value="@model.ActionLevel" />
            </FormItem>
            <FormItem>
                <AntDesign.Input ReadOnly @bind-Value="@model.Title" />
            </FormItem>
            <FormItem>
                <AntDesign.Input ReadOnly @bind-Value="@model.ActionModel" />
            </FormItem>
            <div class="mt-2">Сообщение</div>
            <code>
                @model.Message
            </code>
            <div class="mt-2">Содержимое</div>
            <code>
                @model.Content
            </code>

            <FormItem>
                <div class="text-right">
                    <Button OnClick=HandleCancel>
                        Отмена
                    </Button>
                    @*<Button Type="@ButtonType.Primary" HtmlType="submit" Loading=_modeCreareButtonLoading>
                        Сохранить
                    </Button>*@
                </div>
            </FormItem>

        </AntDesign.Form>


    </div>

</Modal>

