@inject IStringLocalizer<AppRes> L


<div class=mt-3"">
    <ul class="nav nav-tabs nav-justified">
        
        <li class="nav-item">
            <NavLink class="nav-link" href="/geo/GeoLocation">
                @(L["GeoLocation.many"])
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/geo/GeoLocationType">
                @(L["GeoLocationType.many"])
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/geo/GeoMunicipality">
                @(L["GeoMunicipality.many"])
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/geo/GeoMunicType">
                @(L["GeoMunicType.many"])
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/geo/GeoRegion">
                @(L["GeoRegion.many"])
            </NavLink>
        </li>
    </ul>
</div>
